/* Jennifer Paul, created May 15, 2020
/* style sheet for homepage
*/
<style>
    button {
        width: 80px;
        height: 25px;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid black;
        background-color: rgba(192,192,192,0.3);;
    }
    .button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
      }
    .button:hover {
        background-color: rgba(255,255,0,0.3);
      }
    .row {
        border-collapse: collapse;
        border: 2px solid black;
        width: 100%;
        height: 300px;
        background-color: #FFF0F5;
        padding-left: 25px;
        padding-right: 25px;
    }
    .column {
      width:50%;
      float: left;
    }
    #banner {
        width: 100%;
        height: 700px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: xx-large;
        color: #FFFFFF;
        font-weight: bold;
      }
    .underneath {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: x-large;
        color: #FFFFFF;
    }
    .upper-right{
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: large;
      font-weight: bold;
      color: #FFE4E1;
      word-spacing: 12px;
    }
</style>
